<section class="home">
    <div class="container">
        <h2 class="title">Filmes</h2>
        <div class="home-content">
            <div class="navbar">
               <div class="navbar-details">
                <co-accordion title="Ordenar">
                    <div class="content">
                        <p>conteudo</p>
                    </div>
                </co-accordion>
                <co-accordion title="Onde assistir">
                    <div class="content">
                        <p>conteudo</p>
                    </div>
                </co-accordion>
                <co-accordion title="Filtros">
                    <div class="content">
                        <p>conteudo</p>
                    </div>
                </co-accordion>
               </div>
            </div>
            <div class="movies">
                Conteúdo em desenvolvimento
            </div>
        </div>
    </div>
</section>