@import 'index';


.home {
    .title {
        font-size: rem(24px);
        margin-bottom: spacing(32);
    }
    &-content {
        display: flex;
        gap: spacing(16);
    }
}

.navbar {
    width: 30%;

    &-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: spacing(12);
    }
  
}